.hidden {
  display: none;
}

body {
  background-color: rgb(249, 240, 223);
}

h1 { 
  color: #515468; 
  font-family: 'Trocchi', serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  text-align: center;
}

button {
  font-size: 20px;
  background-color: rgb(249, 240, 223);
  border-radius: 5%;
  border-color: rgb(193, 240, 246);
  color: #62657e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
  column-count: 5;
}

h2 {
  color: #62657e;
  font-family: 'Source Sans Pro',
  sans-serif; font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px;
}

form {
  color: #62657e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
  column-count: 5;
  column-count: 3;
  padding: 20px;
}

p {
  color: #62657e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
}

ul {
  color: #62657e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
  column-count: 5;
}

.box {
  border: 2px solid rgb(193, 240, 246);
  border-width: 2px;
  border-radius: 2%;
  padding: 20px;
  background-color: rgb(249, 228, 188);
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90%;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px 6px #ccc;
}


.image {
  width: 20px;
}